basePath: /api/v1
definitions:
  domain.Project:
    properties:
      created_at:
        type: string
      description:
        type: string
      end_date:
        type: string
      id:
        type: integer
      sprint_duration:
        type: integer
      start_date:
        type: string
      title:
        type: string
      total_sp:
        type: integer
      updated_at:
        type: string
    type: object
host: temp.com
info:
  contact: {}
  description: API Doc of Burny Backend
  license:
    name: GPL 3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: Burny API
  version: "1.0"
paths:
  /projects:
    get:
      consumes:
      - application/json
      description: List projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.Project'
            type: array
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: List projects
      tags:
      - projects
    post:
      consumes:
      - application/json
      description: Create projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Create projects
      tags:
      - projects
  /projects/{id}:
    delete:
      consumes:
      - application/json
      description: Delete projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Delete projects
      tags:
      - projects
    get:
      consumes:
      - application/json
      description: Get projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get projects
      tags:
      - projects
    put:
      consumes:
      - application/json
      description: Update projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Update projects
      tags:
      - projects
swagger: "2.0"
