basePath: /api/v1
definitions:
  domain.Project:
    properties:
      created_at:
        type: string
      description:
        type: string
      end_date:
        type: string
      id:
        type: integer
      sprint_duration:
        type: integer
      start_date:
        type: string
      title:
        type: string
      total_sp:
        type: integer
      updated_at:
        type: string
    type: object
  domain.User:
    properties:
      email:
        type: string
      id:
        type: integer
      password:
        type: string
    type: object
  io.SignInRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  io.SignInResponse:
    properties:
      token:
        type: string
    type: object
  io.SignUpRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
host: temp.com
info:
  contact: {}
  description: API Doc of Burny Backend
  license:
    name: GPL 3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: Burny API
  version: "1.0"
paths:
  /projects:
    get:
      consumes:
      - application/json
      description: List projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.Project'
            type: array
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: List projects
      tags:
      - projects
    post:
      consumes:
      - application/json
      description: Create projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Create projects
      tags:
      - projects
  /projects/{id}:
    delete:
      consumes:
      - application/json
      description: Delete projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Delete projects
      tags:
      - projects
    get:
      consumes:
      - application/json
      description: Get projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get projects
      tags:
      - projects
    put:
      consumes:
      - application/json
      description: Update projects
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Project'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Update projects
      tags:
      - projects
  /sign_in:
    post:
      consumes:
      - application/json
      description: Sign in
      parameters:
      - description: sign in request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/io.SignInRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/io.SignInResponse'
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Sign in
      tags:
      - auth
  /sign_up:
    post:
      consumes:
      - application/json
      description: Sign up
      parameters:
      - description: sign up request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/io.SignUpRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/domain.User'
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Sign up
      tags:
      - auth
swagger: "2.0"
